src/main/resources/test.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://spring.io/guides/gs-producing-web-service"
                  targetNamespace="http://spring.io/guides/gs-producing-web-service">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                   targetNamespace="http://spring.io/guides/gs-producing-web-service">

            <xs:element name="getMessageRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getMessageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="resultCode" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getMessageResponse">
        <wsdl:part element="tns:getMessageResponse" name="getMessageResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMessageRequest">
        <wsdl:part element="tns:getMessageRequest" name="getMessageRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MessagesPort">
        <wsdl:operation name="getMessage">
            <wsdl:input message="tns:getMessageRequest" name="getMessageRequest">
            </wsdl:input>
            <wsdl:output message="tns:getMessageResponse" name="getMessageResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MessagesPortSoap" type="tns:MessagesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getMessage">
            <soap:operation soapAction=""/>
            <wsdl:input name="getMessageRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getMessageResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessagesPortService">
        <wsdl:port binding="tns:MessagesPortSoap" name="MessagesPortSoap">
            <soap:address location="http://localhost:8081/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>